<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  type="text/css" href="{{ url_for('.static', filename='styles.css')}}">
    <title>{{ title }}</title>
</head>
<body>


{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
           <div id="flask-msg">
            <p> {{ message }} </p>
            <button type="button" class="rm_btn" onclick="removeMsg()">
                Remove Message
            </button>
        </div>    
            {% endfor %}
        {% endif %}
    {% endwith %}

{% block main %}
{% endblock %}

{% block scripts %}
<script>
    function removeMsg(){
        const msg = document.getElementById('flask-msg');
        msg.style.display = 'none';
    }
</script>
{% endblock %}

</body>
</html>