{% extends 'base.html' %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block main %}
    <div class="search-bar">
        <p>Search by genre or type 'all' to list all books available for sale.</p>
        <form method="post" action="{{ url_for('view_books') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="text" name="genre" placeholder="Search by Genre" required>
            <button type="submit">Search</button>
        </form>
    </div>

    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Page Count</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Select Quantity</th>
        </tr>

        {% if books %}
            {% for book in books %}
                <tr>
                    <td> {{book.title}} </td>
                    <td> {{book.author}} </td>
                    <td> {{book.genre}} </td>
                    <td> {{book.page_count}} </td>
                    <td> {{book.quantity}} </td>
                    <td> ${{book.price}} </td>
                    <td class="add-to-cart">
                        <form method="post" action="{{ url_for('add_book_to_cart') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="book_id" value="{{ book.id }}">
                            <input type="number" name="book_quantity" value="1" max="{{ book.quantity }}">
                            <button type="submit">Add to Cart</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>

{% endblock %}