{% extends 'base.html' %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block main %}
    <h3>Login to Book Worm</h3>
    <div class="generic-form">
        <form method="post" action="{{ url_for('login') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label>Email</label>
            <input type="text" name="email" maxlength="100" required>
            <label>Password</label>
            <input type="password" name="password" maxlength="65" required>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}