{% extends 'base.html' %}
{% block main %}
    <h3>Create an account for Book Worm</h3>
    <div class="generic-form">
        <form method="post" action="{{ url_for('signup') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label>Email</label>
            <input type="email" name="email" required>
            <label>Name</label>
            <input type="text" name="name" required>
            <label>Password</label>
            <input type="password" name="password" required>
            <label>Confirm Password</label>
            <input type="password" name="password_confirm" required>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}