{% extends 'base.html' %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block main %}
    <h3>Account Details</h3>
    <h4>Please contact us to change your account's username or password.</h4>
    <div class="generic-form">
        <form method="post" action="{{ url_for('delete_account') }}">
            <label>Name</label>
            <input type="text" name="name" value="{{user.name}}" disabled>
            <label>Email</label>
            <input type="text" name="email" value="{{user.email}}" disabled>
            <button type="submit">Delete Account</button>
        </form>
        
    </div>

{% endblock %}